.courseList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: space-between;
    // @media (max-width: 768px) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 20px;
    // }
}