
.registerContainer {
    width: clamp(18.5rem, 17.1963rem + 6.5186vw, 23.063rem);
    margin-top: 4.8331rem;
    margin-bottom: 5.3125rem;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--gray-4);
    border-radius: var(--radius-default);

    .registerHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.125rem;
    };

    h1 {
        font-size: clamp(0.902rem, 0.8383rem + 0.3186vw, var(--size-title-1));
        font-weight: var(--weight-bold);
    };

    .registerContent {
        width: 100%;
        padding: clamp(2.106rem, 1.9577rem + 0.7414vw, 2.625rem) clamp(1.103rem, 1.0253rem + 0.3886vw, 1.375rem);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: clamp(1.103rem, 1.0253rem + 0.3886vw, 1.375rem);
        border-radius: var(--radius-default);
        background: var(--gray-3);
        color: var(--gray-0);

        .subTitle {
            margin-bottom: 2.5rem;
        }

        span {
            font-size: var(--size-headline-bold);
            font-weight: 400;
            color: var(--green-1);
        };

        .formContainer {
            width: 100%;
        };
    };
};