.courseCard {
    width: 100%;
    background: var(--color-primary-negative);
    padding: .625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-default);
    margin-bottom: .3125rem;
    gap: 1.25rem;
    font-family: var(--font--family-secondary);

    .courseInfo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .625rem;
        
        .courseTitle {
            font-size: var(--size-title-2);
            font-weight: var(--weight-bold);
            &:hover {
                cursor: pointer;
            }
        }

        .pInfo {
            font-size: var(--size-headline);
            font-weight: 300;
            span{
                color: #FFFFFF;
                border-radius: var(--radius-btn);
                padding: .1px 3px;
                margin-left: 1.25rem;
                font-size: var(--size-paragraph);
                font-weight: var(--weight-bold);
                background: var(--gray-4);
                &:hover {
                    background: var(--color-primary);
                    cursor: pointer;
                }
            }
        }

        
    }

    .bntDefault{
        width: 20%;
        color: #FFFFFF;
        font-size: var(--size--heading-2);
        font-weight: var(--weight-bold);
        border-radius: var(--radius-btn);
        padding: .3125rem .625rem;
        background: var(--gray-4);
        border: 2px solid var(--gray-4);
        &:hover {
            background: var(--negative);
            border: 2px solid var(--negative);
        }
    }

}