.headerContainer {
    width: 100%;
    padding: clamp(0.938rem, 0.8600rem + 0.3900vw, 1.25rem) clamp(0.938rem, -1.6400rem + 12.8900vw, 11.25rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
    border-bottom: 2px solid #000000;
    position: fixed;
    z-index: 1;

    .headerTitle {
        font-size: clamp(1rem, 0.7500rem + 1.2500vw, 1.875rem);
        font-weight: var(--weight-bold);
        &:hover {
            cursor: pointer;
        }
    }

    .rightHeader {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;

        .welcomeHeader {
            margin-right: 20px;
        }

        .bntDefault{
            color: #FFFFFF;
            font-size: var(--size--heading-2);
            border-radius: var(--radius-btn);
            padding: 5px 10px;
            background: var(--color-primary-negative);
            border: 2px solid var(--color-primary-negative);
            &:hover {
                background: var(--color-primary-focus);
                border: 2px solid var(--color-primary-focus);
            }
        }

        .cartButton {
            color: var(--gray-300);
            position: relative;
            font-size: var(--size--heading-2);
            span {
                position: absolute;
                top: -0.5625rem;
                right: -5px;
                color: #000000;
                padding-inline: .125rem;
                background: var(--green-0);
                border-radius: .3125rem;
                font-size: var(--size--body);
                font-weight: 900;
            }
        }
    }

}