.sectionCourse {
    width: 100vw;
    padding: clamp(0.938rem, 0.8600rem + 0.3900vw, 1.25rem) clamp(0.938rem, -1.6400rem + 12.8900vw, 11.25rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid var(--negative);
    gap: 1.875rem;

    .courseBanner {
        margin-top: 1.125rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1.875rem;
        img {
            // width: 18.75rem;
            width: 25rem;
            border-radius: var(--radius-default);
        }
    
        p {
            font-size: var(--size-title-1);
            font-weight: var(--weight-semibold);
            text-align: justify;
            line-height: 1.5625rem;
        }
    }

    .courseInfos {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        
        .leftInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .rightInfo {
            display: flex;
            align-items: end;
            gap: 10px;

            
        }
        .bntDefault{
            color: #FFFFFF;
            font-size: var(--size--heading-2);
            border-radius: var(--radius-btn);
            padding: 5px 10px;
            background: var(--color-primary-negative);
            border: 2px solid var(--color-primary-negative);
            &:hover {
                background: var(--color-primary-focus);
                border: 2px solid var(--color-primary-focus);
            }
        }

    }

}